extends layout 

block metadata 
  title Colecciones
  link(rel="stylesheet", href="/css/style.css")
  script(src="https://unpkg.com/@tailwindcss/browser@4")
  link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=arrow_circle_up")

block contenido 




