extends layout  

block metadata 
        title user
        link(rel="stylesheet", href="/css/style.css")

block contenido
        div(style='background-color:#0000ff; margin :30px; padding: 20px;display : inline-flex;')
                p(style=' color: white; margin-right: 20px;') hola
                img(src="/img/camalardo.jpg", alt="", style='')
                div(style=' color: white; margin-left : 20px;display : flex; flex-direction: column; flex-basis: 0; flex-grow: 1; max-width: 500px; ') 
                        p(style='margin-top: 5px ') Titulo 
                        p(style='margin-top: 5px ') Descripcion
                        p(style='margin-top: 5px ') Comentarios 



                