extends layout

block metadata 
        title user
        script(src="https://unpkg.com/@tailwindcss/browser@4")
        link(rel="stylesheet", href="/css/style.css")

block contenido
        main(class='mx-auto p-4')
                button#btn_abrir(type="button" class='bg-orange-500 p-4 rounded-full hover:bg-white') + 
        
        
        
        include mixins/subirPubli.pug

        script. 
                const subir = document.getElementById('bg_subir');
                const btnAbrir = document.getElementById('btn_abrir');
                const btnCerrar = document.getElementById('btn_cerrar');

                if(btnAbrir && subir){
                   btnAbrir.addEventListener('click', ()=>{
                        subir.classList.remove('hidden');
                   });
                }
                if(btnCerrar && subir){
                   btnCerrar.addEventListener('click', ()=>{
                        subir.classList.add('hidden');
                   });
                }

            
