extend layout 

block metadata 
        title control
        link(rel="stylesheet", href="/css/style.css")

block contenido 
    p(class="font-semibold text-indigo-400 text-8xl m-auto mt-30") 404
        h1(class='sm:text-7xl mt-4 text-5xl font-semibold tracking-tight text-balance text-white m-auto') Pagina no encontrada.
        i.fa-duotone.fa-solid.fa-face-sad-cry.text-indigo-500.text-6xl.mt-5.m-auto

