doctype html
html(lang='en')
    head
        meta(charset="UTF-8")
        title Proyecto Web 2 | Lucas Serrano
        link(rel="stylesheet", href="/css/style.css")
        block metadata

    body
        nav
            div Fotaza 2
            ul
                li 
                    a(href="/index") inicio 
                li 
                    a(href="/notis") Notificaciones
                li 
                    a(href="/iniciosSesion") Iniciar sesion
                
        main 
        block contenido 
        footer 
            p © Lucas Serrano