doctype
html(lang='en')
    head
        meta(charset="UTF-8")
        title Proyecto Web 2 | Lucas Serrano
        block metadata
        link(rel="stylesheet", href="/css/style.css")
        script(src='https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4')
        script(src='https://kit.fontawesome.com/65094b592d.js' crossorigin='anonymous')
    body
        nav(class='bg-indigo-500')
            ul
                li 
                    a(href="/") Inicio
                li 
                    a(href="/index") Iniciar Sesion
        block contenido 
        main 
        footer 
            p © Lucas Serrano