doctype html
html(lang='en')
    head
        meta(charset="UTF-8")
        title Proyecto Web 2 | Lucas Serrano
        script(src="https://unpkg.com/@tailwindcss/browser@4")
        link(rel="stylesheet", href="/css/style.css")
        block metadata

    body
        nav(class='bg-blue-500')
            div Fotaza 2
            ul
                li 
                    a(href="/index") inicio 
                li 
                    a(href="/notis") Notificaciones
                li 
                    a(href="/iniciosSesion") Iniciar sesion
                
        main 
        block contenido 
        footer(class='bg-blue-500')
            p © Lucas Serrano