doctype
html(lang='en')
    head
    title 
    link(rel="stylesheet", href="/css/style.css")
    body
        nav 
            p Menu (Inicio | Ventas | Stock) 
        hr 
        block contenido 
        hr 
        footer 
            p Lucas Serrano