extend layout 

block metadata 
        title control
        link(rel="stylesheet", href="/css/style.css")

block contenido 
    div 
        p centro de notificaciones
        hr
        ul 
                li notis 
                li notis 
                li notis 
                li notis 