extends layout 

block contenido 
    form#form(action='/registro' method='POST' style='display: flex; flex-direction: column; gap: 10px; max-width: 400px; margin: auto')
        h3 Registro

        label(for='usuario') Usuario
        input#usuario(type='text' name='usuario' required="true" )

        label(for='email') Email
        input#email(type='email' name='email' required="true")

        label(for='contrasenia') Contraseña
        input#contrasenia(type='password' name='contrasenia' required="true")

        label(for='repetir') Repetir contraseña
        input#repetir(type='password' name='repetir' required="true")

        div(style='display: flex; flex-direction: row; justify-content: space-around')
            div(style='display: flex; flex-direction: column')
                label(for='tyc')
                    | Acepta los 
                    a(href='') términos y condiciones
                input#tyc(type='checkbox' name='terminos' required="true")

            div(style='display: flex; flex-direction: column')
                label(for='ofertas') Recibir ofertas
                input#ofertas(type='checkbox' name='ofertas' )

        input#enviar(type='submit' value='Registrarse')
        div#mensajes 

        script.
            const mensajes = document.querySelector("#mensajes");
            const enviar  = document.querySelector("#enviar");
            const campoEmail = document.querySelector("#email");
            const campoUsuario = document.querySelector("#usuario");
            const terminosycondiciones = document.querySelector("#tyc");
            const form = document.querySelector("#form");

            let emailValido = false;
            let userValido = false;
            let terYcond = false;

            const emailRE = /^[a-zA-Z0-9._%-]+@gmail\.com$/;

            async function revisarEmail() {
                const anterior = document.querySelector("#mensajeEmail");
                if(anterior) anterior.remove(); 
                
                const valor = campoEmail.value;
                const res = await fetch(`/revisarEmail?email=${valor}`);
                const data = await res.json();

                const emailMsg = document.createElement("p");
                emailMsg.id = "mensajeEmail";
                mensajes.appendChild(emailMsg);

                if(!emailRE.test(valor)){
                    emailMsg.innerHTML = "formato de email incorrecto (debe ser @gmail.com)";
                    emailValido = false;
                    return false;
                }
                
                if(data.respuesta) {                  
                    emailMsg.innerHTML = "email ya en uso";
                    emailValido = false;
                    return false;
                } else {
                    emailMsg.innerHTML = "";
                    emailValido = true;
                    return true;
                }
            }

            async function revisarUsuario() {
                const anterior = document.querySelector("#mensajeUsuario");
                if(anterior) anterior.remove();
                
                const valor = campoUsuario.value;
                if(!valor) {
                    userValido = false;
                    return false;
                }

                const res = await fetch(`/revisarUsuario?usuario=${valor}`);
                const data = await res.json();

                const usuarioMsg = document.createElement("p");
                usuarioMsg.id = "mensajeUsuario";
                mensajes.appendChild(usuarioMsg);

                if(data.respuesta) {                  
                    usuarioMsg.innerHTML = "usuario ya en uso";
                    userValido = false;
                    return false;
                } else {
                    usuarioMsg.innerHTML = "";
                    userValido = true;
                    return true;
                }
            }

            function revisarTyC() {
                const anterior = document.querySelector("#MensajeTyC");
                if (anterior) anterior.remove();
                
                const tycMsg = document.createElement("p"); 
                tycMsg.id = "MensajeTyC";
                mensajes.appendChild(tycMsg);

                if(terminosycondiciones.checked){
                    tycMsg.innerHTML = "";
                    terYcond = true;
                    return true;
                } else {
                    tycMsg.innerHTML = "Tienes que Aceptar los Terminos y Condiciones";
                    terYcond = false;
                    return false;
                }
            }

            function verSiLasContraseniasSonIguales(){
                const contraseniaInput = document.querySelector("#contrasenia");   
                const repetirInput = document.querySelector("#repetir");       
                const anterior = document.querySelector("#ContrasMensaje");
                if(anterior) anterior.remove();

                const contrasMsg = document.createElement("p");
                contrasMsg.id = "ContrasMensaje";
                mensajes.appendChild(contrasMsg);

                if(contraseniaInput.value.length <= 7){ 
                    contrasMsg.innerHTML = "Contraseña demasiado pequeña (mínimo 8)"; 
                    return false;
                }
                if(contraseniaInput.value === repetirInput.value){ 
                    contrasMsg.innerHTML = ""; 
                    return true;       
                } else {
                    contrasMsg.innerHTML = "Contraseñas desiguales";
                    return false;
                }
            }

            // --- funciones ---

            campoEmail.addEventListener('blur', revisarEmail);
            campoUsuario.addEventListener('blur', revisarUsuario);
            
            terminosycondiciones.addEventListener('change', revisarTyC);
            
            const campoContrasenia = document.querySelector("#contrasenia");
            const campoRepetir = document.querySelector("#repetir");
            campoContrasenia.addEventListener('blur', verSiLasContraseniasSonIguales);
            campoRepetir.addEventListener('blur', verSiLasContraseniasSonIguales);

            //submit
            form.addEventListener('submit', async (event) => { 
                event.preventDefault(); 

                const emailOk = await revisarEmail();
                const usuarioOk = await revisarUsuario();
                const tycOk = revisarTyC();
                const contraOk = verSiLasContraseniasSonIguales();

                if(emailOk && usuarioOk && tycOk && contraOk){ 
                    HTMLFormElement.prototype.submit.call(form);
                } else {
                }
            });