extends layout  

block metadata 
        title user
        link(rel="stylesheet", href="/css/style.css")

block contenido 
        div 
            div 
                p portada 
                img(src="/img/camalardo.jpg", alt="camalardo", style='width: 700px; height: 100px')
            p fotoperdil 
            img(src="/img/camalardo.jpg", alt="", style='border-radius: 10000px')
