extends layout 

block metadata 
        title Bienvenida
        script(src="https://unpkg.com/@tailwindcss/browser@4")
        link(rel="stylesheet", href="/css/style.css")


block contenido
        style. 
            body {
                background-image: url('/img/WinHS (1).jpg');
                background-size: cover;
                background-position: center;          
                background-attachment: fixed;
                background-repeat: no-repeat;
            }
        div(class="min-h-screen my-22 flex items-center justify-center font-sans ")

          div(class="flex flex-col gap-6 text-center max-w-xl m-auto p-12 bg-black/50 backdrop-blur-xs border-2 border-white/20 rounded-xl shadow-2xl text-white")

            h1(class="text-4xl font-black text-white drop-shadow-md")
              | ¡Bienvenido, #{nombre}!

            p(class="text-lg text-white/90 max-w-md mx-auto")
              | Tu registro en 
              span(class="text-blue-400 font-bold") Fotaza
              |  se completó con éxito. Prepárate para compartir tus mejores momentos.

            div(class="mt-4 flex flex-col items-center gap-2 text-xs text-white/60")
              p Redirigiendo al inicio...

        script.
            setTimeout(() => {
            window.location.replace("http://localhost:3000/");
            }, 5000);


